<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="head :: head" />
<body>
    <nav th:fragment="header">
        <div>
            <a href="/">Health Consultation</a>
            <ul>
                <li>
                    <a href="/consultations/new">Consult</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <main th:fragment="content">
    </main>
</body>
</html>