<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head" />

<body class="text-gray-900">
    <nav th:replace="fragments/layout :: header"></nav>

    <div id="success-badge" class="hidden p-3 bg-green-200 text-green-500 font-bold">
        <p class="m-0 text-center">User successfully registered, please log in</p>
    </div>

    <div th:if="${param.error}" class="p-3 bg-red-200 text-red-500 font-bold">
        <p class="m-0 text-center">Invalid username and password</p>
    </div>

    <div th:if="${param.logout}" class="p-3 bg-green-200 text-green-500 font-bold">
        <p class="m-0 text-center">Successfully logged out</p>
    </div>

    <div class="container max-w-xl mx-auto my-4">
        <form th:action="@{/login}" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="text-lg font-bold mb-2 block">Username</label>
                <input class="px-4 py-2 border border-gray-300 rounded text-sm w-full" id="username" name="username" placeholder="Username">
            </div>
            <div class="mb-4">
                <label class="text-lg font-bold mb-2 block">Password</label>
                <input class="px-4 py-2 border border-gray-300 rounded text-sm w-full" id="password" name="password" type="password" placeholder="****************">
            </div>
            <div class="flex items-center mt-8">
                <a href="/register" class="w-full block text-center border border-gray-900 rounded px-3 py-2">Register</a>
                <button type="submit"
                    class="w-full border border-gray-900 bg-gray-900 text-white rounded px-3 py-2 ml-3">Login</button>
            </div>
        </form>
    </div>
</body>
<script>
    window.onload = function () {
        const successBadge = document.getElementById('success-badge');
        if (window.location.search.includes('registerSuccess')) {
            successBadge.classList.remove('hidden');
        }
    }
</script>
</html>