<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head" />

<body class="text-gray-900">
    <nav th:replace="fragments/layout :: header"></nav>

    <form role="form" method="post" th:action="@{/register}" class="container max-w-xl mx-auto my-4 overflow-y-auto px-4" style="max-height: 80vh;">
        <div class="mb-4">
            <label for="name" class="text-lg font-bold mb-2 block">Name</label>
            <input type="text" class="px-4 py-2 border border-gray-300 rounded text-sm w-full" id="name" name="name" placeholder="Name"
                th:value="${user.name}">
        </div>

        <div class="mb-4">
            <label for="username" class="text-lg font-bold mb-2 block">Username</label>
            <input class="px-4 py-2 border border-gray-300 rounded text-sm w-full" name="username" placeholder="Username" th:value="${user.username}">
        </div>

        <div class="mb-4">
            <label for="password" class="text-lg font-bold mb-2 block">Password</label>
            <input class="px-4 py-2 border border-gray-300 rounded text-sm w-full" name="password" type="password"
                placeholder="****************" th:value="${user.password}">
        </div>

        <div class="d-flex items-center mb-4">
            <label for="role" class="text-lg font-bold mb-2 block">Type</label>
            <input id="role" type="hidden" name="role" th:value="${user.role}">
            <button id="choosePatient" type="button"
                class="text-sm border border-gray-900 rounded px-3 py-2"
                >Patient</button>
            <button id="chooseDoctor" type="button"
                class="text-sm border border-gray-900 rounded px-3 py-2 ml-2">Doctor</button>
        </div>

        <div id="patientField" class="hidden">
            <div class="mb-4">
                <label for="age" class="text-lg font-bold mb-2 block">Age</label>
                <input class="px-4 py-2 border border-gray-300 rounded text-sm w-full" id="age" name="age" type="number"
                    placeholder="Input Age" th:value="${patient.age}">
            </div>

            <div class="mb-4">
                <label for="dob" class="text-lg font-bold mb-2 block">Date of Birth</label>
                <input class="px-4 py-2 border border-gray-300 rounded text-sm w-full" type="date" id="dob" name="dob" placeholder="Date of Birth" th:value="${patient.dob}">
            </div>

            <div class="mb-4">
                <label for="gender" class="text-lg font-bold mb-2 block">Gender</label>
                <select class="px-4 py-2 border border-gray-300 rounded text-sm w-full" id="gender" name="gender" th:value="${patient.gender}">
                    <option value="">Choose gender...</option>
                    <option value="pria">Pria</option>
                    <option value="wanita">Wanita</option>
                </select>
            </div>
        </div>

        <div id="doctorField" class="hidden">
            <div class="mb-4">
                <label for="medicalLicenseId" class="text-lg font-bold mb-2 block">Medical License ID</label>
                <input class="px-4 py-2 border border-gray-300 rounded text-sm w-full" id="medicalLicenseId" name="medicalLicenseId" placeholder="Medical License ID" th:value="${doctor.medicalLicenseId}">
            </div>

            <div class="mb-4">
                <label for="specialization" class="text-lg font-bold mb-2 block">Specialization</label>
                <select class="px-4 py-2 border border-gray-300 rounded text-sm w-full" id="specialization" name="specialization" th:value="${doctor.specialization}">
                    <option value="">Choose specialization...</option>
                    <option th:each="specialization: ${specializations}"
                        th:value="${specialization.id}" th:text="${specialization.name}"></option>
                </select>
            </div>
        </div>

        <div class="flex items-center mt-8">
            <a href="/" class="w-full block text-center border border-gray-900 rounded px-3 py-2">Cancel</a>
            <button type="submit"
                class="w-full border border-gray-900 bg-gray-900 text-white rounded px-3 py-2 ml-3">Register</button>
        </div>
    </form>
</body>
<script>
    var choosePatient = document.getElementById('choosePatient');
    var chooseDoctor = document.getElementById('chooseDoctor');

    var patientField = document.getElementById('patientField');
    var doctorField = document.getElementById('doctorField');

    var roleField = document.getElementById('role');

    var patientInputFields = ['age', 'dob', 'gender'];
    var doctorInputFields = ['medicalLicenseId', 'specialization'];

    choosePatient.addEventListener('click', () => {
        roleField.value = 'patient';
        choosePatient.classList.add('bg-gray-900', 'text-white');
        chooseDoctor.classList.remove('bg-gray-900', 'text-white');

        patientField.style.display = 'block';
        doctorField.style.display = 'none';

        [...patientInputFields, ...doctorInputFields].forEach((field) => {
            document.getElementById(field).value = '';
            document.getElementById(field).disabled = false;

            if (doctorInputFields.includes(field)) {
                document.getElementById(field).disabled = true;
            }
        });
    });

    chooseDoctor.addEventListener('click', () => {
        roleField.value = 'doctor';
        chooseDoctor.classList.add('bg-gray-900', 'text-white');
        choosePatient.classList.remove('bg-gray-900', 'text-white');

        doctorField.style.display = 'block';
        patientField.style.display = 'none';

        [...patientInputFields, ...doctorInputFields].forEach((field) => {
            document.getElementById(field).value = '';
            document.getElementById(field).disabled = false;

            if (patientInputFields.includes(field)) {
                document.getElementById(field).disabled = true;
            }
        });
    });
</script>
</html>